<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client List</title>
</head>
<body>
<h1>Clients</h1>
<a href="/clients/new">Add New Client</a>
<table border="1">
    <thead>
    <tr>
        <th>Client ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clientsList}">
        <td th:text="${client.clientId}"></td>
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.lastName}"></td>
        <td th:text="${client.contactNumber}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.address}"></td>
        <td>
            <a th:href="@{/clients/edit(id=${client.clientId})}">Edit</a> |
            <a th:href="@{/clients/delete(id=${client.clientId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
